node_modules
npm-debug.log
Y2lzY29zcGFyazovL3VzL01FU1NBR0UvZDcxYzRkZDAtNzQ2Ny0xMWU4LTk5MzMtMjU4YzFkYzVlZjM2 Y2lzY29zcGFyazovL3VzL01FU1NBR0UvZDcxYzRkZDAtNzQ2Ny0xMWU4LTk5MzMtMjU4YzFkYzVlZjM2
Y2lzY29zcGFyazovL3VzL01FU1NBR0UvNzMzNmViODAtNzQ2OC0xMWU4LWJhMTUtMzUxNjY0ZGQ0M2Yw
.vs
.vscode